/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Nov-2017, 09:45:48
    Author     : A.Wilson
*/

fieldset.fsStyle {
    x-font-family: Verdana, Arial, sans-serif;
    font-size: larger;
    font-weight: normal;
    border: 1px solid #999999;
    padding: 2px;
    margin: 3px;
}

fieldset.small {
    x-font-family: Verdana, Arial, sans-serif;    
    font-weight: normal;
    border: 1px solid #999999;
    padding: 1px;
    margin: 2px;
}

fieldset.modalStyle {
    x-font-family: Verdana, Arial, sans-serif;
    font-weight: normal;
    border: 1px solid #999999;
    padding: 2px;
    margin: 3px;
}
    
a span.component {font-size: 16px; border-top: 1px red;}
   
hr {border: 1px solid #999999;margin: 11px;}
.well-sm {
    padding: 5px;
    border-radius: 1px;
}

.container {
    background-color: #ffffff;
    margin-top: 50px;
    width: 90%;
}

