
/* 
    Created on : 13-Aug-2018, 18:48:41
    Author     : alanwilson
*/

html {
    margin: 5px 5px 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 20px;
}

.container {
    margin: 15px auto;
    font-weight: 200;
    text-align: left;
    width: 50%;
}

h3 {
    font-weight: lighter;
    font-size: 90%;   
}

h3.accordion {
    background: mediumpurple;
    color: whitesmoke;
    border: 0;
    width: 100%;
    text-align: left;
    transition: .5s;    
    display: block;
    position: relative;
    margin: 1px 0 0 0;
    padding: .2em .2em .2em .4em;  // Reduce the padding for smaller screens.
    font-size: 100%;
    font-style: italic;    
}

h3.accordion.active, h3.accordion:hover {
    background: purple;
}

div.content {
    padding: 0 16px;
    color: black;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    transition: max-height 0.25s ease-out;  
    background-color: white;
    text-align: left;
}

@media screen and (min-width: 640px) { 
    /* This is the media query. It sets the following values to be used if the browser window is 640 px or wider than 640px   
     * Basically uses a bit more real estate.   
    */ 
    
    html {
        margin: 10px 10px 0;
        padding: 0;
        width: 80%;
    }
    
    .container {
        margin: 25px auto;
        font-weight: 200;
        text-align: left;
        width: 50%;
    }

    div.content {        
        padding: 0 16px;
        color: black;
        max-height: 0;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        transition: max-height 0.25s ease-out;  
        background-color: white;
        text-align: left;    
    }      

    h3.accordion {
        background: black;
        cursor: pointer;
        border: 0;
        width: 100%;
        text-align: left;
        transition: .5s;
        display: block;
        position: relative;
        margin: 1px 0 0 0;
        padding: .4em .4em .4em .6em;
        font-size: 100%;
        font-style: italic;
    }
        
    h3.accordion.active, h3.accordion:hover {
        background: paleblue;
    }    

} 
/* End of media query 

Validated at https://jigsaw.w3.org/css-validator/validator to CSS3

*/

